

footer {
	@include clearfix;
	@include padding;
	background: url(../img/bg-footer.jpg) center center / cover no-repeat;
	color: white;
	line-height: 1.5em;
	padding-bottom: 40px;

	.footer-logo img {
		max-width: 200px;
		padding-bottom: 20px;
	}

	.footer-menu {
		padding: 10px 0;

		a {
			text-transform: uppercase;
			font-size: 1.2em;
			line-height: 1.6em;
			color: white;
		}
	}
	
	.social-icons {
		@include respond-to( 768px ) {
			text-align: right;
			padding: 10px 0 0;
		}

		a {
			transition: opacity 400ms ease-in-out;

			&:hover {
				opacity: .7;
			}
		}

		.social-icon {
			max-width: 30px;
		}
	}

	.footer-columns {
		@include respond-to( $bp-m ) {
			display: flex;
			align-items: center;
			vertical-align: middle;

			.footer-logo {
				flex: 1;
				flex-basis: 20%;
				padding: 0 3% 0 0;
			}
		
			.footer-content {
				border-right: 2px solid rgba( white, .4 );
				border-left: 2px solid rgba( white, .4 );
				flex: 1;
				flex-basis: 50%;
				padding: 0 3%;

				h3 {
					@include font-bold;
					font-size: 1.6em;
				}
			}

			.footer-menu {
				flex: 1;
				flex-basis: 25%;
				padding: 0;
				padding-left: 3%;
			}
		}
	}

	.copyright {
		font-size: .9em;
		color: rgba( white, .5 );
	}
}

